<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/grid-container.css">
    <link href="static/css/impaginazione.CSS" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <a href="/meteo"><img src='static/download.jfif' alt='error'></a>
                <p>meteo</p>
            </div>
            <div>
                <img src='static/download (1).jfif' alt='error'>
                <p>libro</p>
            </div>
            <div>
                <img src='static/download (2).jfif' alt='error'>
                <p>calendario</p>
            </div>
        </div>
    </div>
</body>

</html>