<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/grid-container.css">
    <link href="static/css/impaginazione.CSS" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<na><ul><li><a href='/'><b>HOME</b></a></li></ul></na>
<body>
    <div class="container">
        <div class="grid-container">
            <div> 
                <img src='static/css/{{previsione}}.jfif' alt='error'>
                <p>{{previsione}}</p>
            </div>
        </div>
    </div>
</body>
</html>