<form action="/data" method = "GET">
    <p>Name <input type = "text" name = "Name" /></p>
    <p>Cognome <input type = "text" name = "Cognome" /></p>
    <p>username <input type = "text" name = "username" /></p>
    <p>Sex <input type = "radio" name = "Sex" value="M" />M <input type = "radio" name = "Sex" value="F" />F /<input type = "radio" name = "Sex" value="Altro" />Altro </p>
    <p>Password <input type = "password" name = "password" /></p>
    <p>Conferma Password <input type = "password" name = "Conferma_Password" /></p>
    <p><input type = "submit" value = "Registrazione" /></p>
</form>